.list-group-item {

  margin: 0.5em 1em;
  border: none;

  background-color: #BCC0D1;

  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #526AD1;
}

a {
  transition: transform 0.1s ease-in-out;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a p {
  color: #341109;
}

a:hover p {
  color: #000000;
}

.heading {
  font-weight: bold;
  font-size: 32px;
}

.description {
  font-size: 18px;
}
