.landing-wrapper {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: white;
}

.AppAfter {
  text-align: center;
  background-color: white;
}

.AppAfter input{
  margin: 10px 0;
  padding: 10px 0 10px 20px;

  border: 3px solid #202952;
  width: 45%;
  font-size: 22px;
  outline:none;
  color: #202952;
}

.input {
  width: 30%;
  padding: 5px 15px;
  color: #202952;
}

.input[type=text] {
  border: 2px solid #202952;
  transition: 0.4s ease-in-out;
  font-size: 14px;
}

.input[type=text]:focus {
  border: 3px solid #202952;
  width: 45%;
  font-size: 22px;
  outline:none;
}

.btn {
  margin-left: 10px;
}

.branding{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
